/* Public */
body{
    background-color: #000 !important;
    position: relative !important;
}

.fullpage{
    -webkit-transform: translate3d(0,-100,0);
    -ms-transform: translate3d(0,-100,0);
    transform: translate3d(0,-100,0);
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
    background: #fff;
}

a{
    text-decoration: none !important;
    color: #fff !important;
}

ul{
    z-index: 999;
}

.readmore{
    color: #27A9E0 !important;
    margin: 20px 0;
}

.circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

.circle > img{
    height: 100%;
    border-radius: 50%;
    margin-bottom: 20px;
}

h2{
    margin-bottom: 50px !important;
}

.containerDiv{
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 100px;
    width: 100%;
}

/* headnav */
.headnav{
    padding: 20px;
    position: fixed;
    width: 100%;
    z-index: 99;
    margin: 0;
    color: #fff;
    /* backdrop-filter: blur(9px); */
}

.logoContainer{
    text-align: center;;
}

.ProitxLogo{
    max-width: 135px;
}

.title1 .title2{
    padding: 0 !important;;
    margin: 0 !important;;
}

.title2{
    font-size: 12px;
}

.navLinks{
    text-align: center;
}

.navItem{
    margin: 0 10px 0 10px;
}

/* bottomnav */
.bottomnav{
    display: none;
    padding: 20px 50px;
    position: fixed;
    width: 100%;
    z-index: 99;
    bottom: 0;
    left: 0px;
    color: #d8d8d8;
}

.navSocial{
    text-align: right;
}

.bottomnav a{
    display: inline-block;
}

.bottomnav img{
    max-width: 17px;
    margin: 0 auto 5px;
    width: 17px;
}

/* sections */

.section1{
    color:#fff;
}

.welcome{
    padding: 50px;
}

.section1Bg{
    background-image: url(../img/white_laptop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: right;
    background-position-y: center;
    min-height: 100vh;
    color: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.2;
}

.section1 hr{
    max-width: 500px;
}

.section2{
    color: #fff;
    text-align: center;
}

.section2Bg{
    background-image: url(../img/apps-426559_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: right;
    background-position-y: center;
    min-height: 100vh;
    color: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    z-index: -1;
}

.section2 h2{
    margin-bottom: 50px;
}

.section3Bg{
    background-image: url(../img/blue-cubes.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: right;
    background-position-y: center;
    min-height: 100vh;
    color: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    z-index: -1;
}

.section3{
    color:#fff;
}

.section3 .row{
    margin-top: 100px !important;
}

.section3 .circle{
    width: 300px;
    height: 300px;
}

.section3 p{
    max-width: 300px;
}

.section4{
    text-align: center;
    color: #fff;
}

.section4slider{
    max-height: 100vh;
    overflow-y: auto;
    
}

.section4Bg{
    background-image: url(../img/4884273.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: right;
    background-position-y: center;
    min-height: 100vh;
    color: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    z-index: -1;
}

.section4 h2{
    padding-bottom: 30px;
    padding-top: 60px;
    z-index: 2;
}

.rectangle{
    width: 200px;
    height: 200px;
    background-color: transparent;
    margin: 0 auto;
    color: #000;
    perspective: 1000px;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    margin: 0 auto;
    border-radius: 15px;
}

.flip-card-inner {
position: relative;
width: 100%;
height: 100%;
text-align: center;
transition: transform 0.6s;
transform-style: preserve-3d;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
border-radius: 15px;
}

.flip-card:hover .flip-card-inner {
transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
position: absolute;
width: 100%;
height: 100%;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
border-radius: 15px;
}

.flip-card-front {
background-color: #0E2331;
color: black;
}

.flip-card-back {
background-color: #0E2331;
color: white;
transform: rotateY(180deg);
padding: 50px 10px;
}

.flip-card-inner img{
    border-radius: 15px;
    border: solid 10px #0E2331;
}

.section4slider::-webkit-scrollbar {
    display: none;
    overflow-y: scroll;
}

.section5{
    color: #fff;
    text-align: center;
}

.section5Bg{
    background-image: url(../img/earthmap.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: right;
    background-position-y: center;
    min-height: 100vh;
    color: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    z-index: -1;
}

.abovefooter{
    background-color: #0E2331;
    width: 100%;
    margin: 50px 0 0;
    text-align: left;
    padding: 20px 50px;
}

.abovefooter a{
    display: block;
}

.footer{
    width: 100%;
    background-color: #1F739C;
    padding: 50px 0 0;
    margin: 0;
}

.stickabove{
    position: absolute;
    top: 100px;
    width: 100%;
    margin: 0;
    padding: 0;
}

.stickdown{
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 0;
}